h1 {
    font-size: 34px;
}

h3 {
    font-size: 20px;
}

.words p {
    font-size: 20px;
}

.words {
    margin: 130px 0;
}

.company {
    color: #1f8ce6;
    font-weight: bold;
    text-decoration: none;
}

.company:visited {
    color: #1f8ce6;
}

.byline a{
    font-size: 20px;
}