.date {
  font-family: 'IBM Plex Mono', monospace;
  float: right;
  color: #353434;
}

.title {
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  height: 31px;
  float: left;
}