{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
{% for year, posts in section.pages | group_by(attribute="year") %}
<hr>
<h2>{{ year }}</h2>
<ul class="p">
  {% for post in posts %}
  <li>
    <time datetime="{{ post.date }}"><span>{{ post.date | date(format='%d') }}</span><span class="s">{{ post.date | date(format='%b') }}</span></time>
    <div><a href="{{ post.permalink | safe }}">{{ post.title }}</a>{% if post.draft %} (Draft){% endif %}
    {{ hooks::posts_below_title(page=post) }}</div>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock content %}
